service:
  type: ClusterIP
  port: 5000

backendStore:
  databaseConnectionCheck: false
  databaseMigration: false

artifactRoot:
  proxiedArtifactStorage: true

extraEnvVars:
  MLFLOW_TRACKING_SERVER_ALLOW_UNSAFE_HOSTS: "true"

strategy:
  type: Recreate

ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: "selfsigned"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
  hosts:
    - host: mlflow.local
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - mlflow.local
      secretName: mlflow-tls
