service:
  type: ClusterIP
  port: 5000

persistence:
  enabled: true
  size: 10Gi
  storageClass: ""

strategy:
  type: Recreate

backendStore:
  databaseMigration: true
  filepath: /mlflow/data/mlflow.db

artifactRoot:
  proxiedArtifactStorage: true
  filesystem:
    path: /mlflow/data/mlartifacts

ingress:
  enabled: true
  className: "nginx" # Add your ingress class if needed (e.g., nginx)
  hosts:
    - host: mlflow.local
      paths:
        - path: /
          pathType: ImplementationSpecific