service:
  type: ClusterIP
  port: 5000

backendStore:
  databaseConnectionCheck: false
  databaseMigration: false


artifactRoot:
  proxiedArtifactStorage: true

extraVolumes:
  - name: mlflow-data
    emptyDir: {}

extraVolumeMounts:
  - name: mlflow-data
    mountPath: /mlflow

strategy:
  type: Recreate
ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: "selfsigned"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
  tls:
    - hosts:
        - mlflow.local
      secretName: mlflow-tls