replicaCount: 1

accessKey: minioadmin
secretKey: minioadmin

persistence:
  enabled: false   # ephemeral for local dev
  size: 10Gi

service:
  type: ClusterIP

ingress:
  enabled: true
  ingressClassName: nginx
  labels: {}
  annotations: {}
  path: /
  hosts:
    - s3-minio.local
