garage:
  dbEngine: "lmdb"
  replicationFactor: "1"
  blockSize: "1048576"
  consistencyMode: "consistent"
  compressionLevel: "1"

deployment:
  kind: StatefulSet
  replicaCount: 1

persistence:
  enabled: false  # <-- crucial

service:
  type: ClusterIP
  s3:
    api:
      port: 3900
    web:
      port: 3902

ingress:
  s3:
    api:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: "nginx"
      hosts:
        - host: "s3.garage.local"
          paths:
            - path: /
              pathType: Prefix
  web:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: "nginx"
    hosts:
      - host: "web.garage.local"
        paths:
          - path: /
            pathType: Prefix
